.main {
  display: grid;
  gap: 1.5rem;
  margin: 0 auto;
  max-width: 1680px;
  min-width: 0;
  width: 100%;
}

@media (max-width: 640px) {
  .main {
    max-width: calc(100vw - 56px);
    width: calc(100vw - 56px);
  }
}
